#selected-tasks {
	width:300px;min-height:300px;float:left;margin-left:50px;border:1px dotted red;
}


.selected-tasks-active {
	background-color:yellow;
}

#wastebin {
	width:650px;
	height:100px;
	margin-top:20px;
	border:1px dashed gray;
}

.wastebin-active {
	background-color:red;
}
